 
body {
  background-color: rgb(14, 14, 14);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  padding-top: 3rem;
}

.buttons > button {
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

.items > img {
  max-width: 8rem;
}

.box {
  background-color: red;
  padding: 1rem;
  max-width: 100px;
  border-radius: 50%;
}